
                             /* logo */
.skin-blue .main-header .logo {
height:70px;
background-color: #FCFEFF;
box-shadow: 0px 0px 0px #9F9F9F;
border-bottom: solid #25EAC9;
width:17vw;
color: black;

}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #DAD3C6;
width:17vw;

}

 /* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #FCFEFF;
height:70px;
box-shadow: 0px 0px 0px #9F9F9F;
border-bottom: solid #25EAC9;
margin-left:17vw;
}

/* main sidebar */
.skin-blue .main-sidebar {
display:block;
padding-top:70px;
background-color: #FCFEFF;
*  border-right: solid #25EAC9;*/
box-shadow: 0px 0px 0px #9F9F9F;

margin-right: 10px;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #fceed3;

}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: #fceed3;
color: black;
border-color: black;

}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
background-color: #fceed3;
}
/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #d2c2a4;
}

/* body */
.content-wrapper, .right-side {
background-color: white;
}
.control-label{
color:black
}
.skin-blue .sidebar-menu>li>.treeview-menu{
background-color: #fceed3;
box-shadow: inset 0px 0px 1px #9F9F9F;
padding-bottom:10px;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single{

                            color: black  !important;
                                background-color:white !important;
                              font-weight: bold !important;
                                   }
                            .irs--shiny .irs-bar {
                            top: 27px !important;
                                            height: 4px !important;
                                             border-top: 1px solid black !important;
                                             border-bottom: 1px solid black !important;
                                             background: black !important;
                            }
     .irs--shiny .irs-handle {
    top: 21px !important;
    width: 16px !important;
    height: 16px !important;
    border: 1px solid black !important;
    background-color: black !important;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    border-radius: 16px !important;
}
  .irs--shiny .irs-line {
  top: 27px !important;
  height: 4px !important;
  background-color:#0000002e !important;
  background:#0000002e !important;

  }
 .row1{
 margin-right:100px;
 
 
 }
 
 .box.box-primary {
    border-top-color: #25EAC9;
}
 
  .nav-tabs-custom{
  box-shadow: 0px 0px 0px #9F9F9F;
  width:40vw;
  }
  .content{
  background-color: #F7F7F7;

  }

  .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #fceed3 !important;
}